doctype html
html
  head
    meta(charset='utf-8')
    title Jonglog
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui')
    link(rel='stylesheet', href='/css/lib.css')
  body
    header#js-header.bar.bar-nav
      a.icon.icon-left-nav.pull-left(data-link='/')
      h1.title 結果
    .content
      ul#js-date-list.table-view
        each date in dates
          li.table-view-cell
            a.navigate-right(data-link='/#{date}')!= date
      #js-result
        #js-results
      #js-register
        form.input-group
          .input-row
            label(for='js-date') Date
            input#js-date(type='date', name='date', required)
          .input-row
            label.col-sm-2.control-label(for='js-round') Round
            input#js-round(type='number', value='1', name='round', required)
          .input-row
            label.col-sm-2.control-label(for='js-score-hokaccha') hokaccha
            input#js-score-hokaccha(type='number', name='hokaccha', value='25000', step='100', required)
          .input-row
            label.col-sm-2.control-label(for='js-score-1000ch') 1000ch
            input#js-score-1000ch(type='number', name='1000ch', value='25000', step='100', required)
          .input-row
            label.col-sm-2.control-label(for='js-score-hiloki') hiloki
            input#js-score-hiloki(type='number', name='hiloki', value='25000', step='100', required)
          .input-row
            label.col-sm-2.control-label(for='js-score-tan_yuki') tan_yuki
            input#js-score-tan_yuki(type='number', name='tan_yuki', value='25000', step='100', required)
          button#js-submit.btn.btn-primary.btn-block Submit
        .col-xs-8
          table.table.table-bordered
            thead
              tr
                th Date
                th Round
                th @hokaccha
                th @1000ch
                th @hiloki
                th @tan_yuki
                th 
            tbody
            tfoot#js-total
              tr
                th
                th
                th#js-total-hokaccha
                th#js-total-1000ch
                th#js-total-hiloki
                th#js-total-tan_yuki
                th
    script(src='/js/lib.js')
    script(src='/js/namespace.js')
    script(src='/js/model/result.js')
    script(src='/js/view/submit-form.js')
    script(src='/js/view/header.js')
    script(src='/js/view/date-list.js')
    script(src='/js/view/result.js')
    script(src='/js/view/result-item.js')
    script(src='/js/view/result-list.js')
    script(src='/js/view/result-total.js')
    script(src='/js/app.js')