doctype html
html
  head
    meta(charset='utf-8')
    title Jonglog
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    .container
      .row
        .col-xs-6
          form#js-form.form-horizontal
            .form-group
              label.col-sm-2.control-label(for='js-date') Date
              .col-sm-6
                input#js-date(type='date', name='date', required)
            .form-group
              label.col-sm-2.control-label(for='js-round') Round
              .col-sm-6
                input#js-round(type='number', value='1', name='round', required)
            .form-group
              label.col-sm-2.control-label(for='js-score-hokaccha') hokaccha
              .col-sm-6
                input#js-score-hokaccha(type='number', name='hokaccha', value='25000', step='100', required)
            .form-group
              label.col-sm-2.control-label(for='js-score-1000ch') 1000ch
              .col-sm-6
                input#js-score-1000ch(type='number', name='1000ch', value='25000', step='100', required)
            .form-group
              label.col-sm-2.control-label(for='js-score-hiloki') hiloki
              .col-sm-6
                input#js-score-hiloki(type='number', name='hiloki', value='25000', step='100', required)
            .form-group
              label.col-sm-2.control-label(for='js-score-tan_yuki') tan_yuki
              .col-sm-6
                input#js-score-tan_yuki(type='number', name='tan_yuki', value='25000', step='100', required)
            button#js-submit.btn.btn-default Submit
        .col-xs-6
          table.table.table-bordered
            thead
              tr
                th Date
                th Round
                th @hokaccha
                th @1000ch
                th @hiloki
                th @tan_yuki
                th 
            tbody#js-results
            tfoot#js-total
              tr
                th
                th
                th#js-total-hokaccha
                th#js-total-1000ch
                th#js-total-hiloki
                th#js-total-tan_yuki
                th
    script(src='/js/lib.js')
    script(src='/js/namespace.js')
    script(src='/js/model/result.js')
    script(src='/js/view/submit-form.js')
    script(src='/js/view/result-item.js')
    script(src='/js/view/result-list.js')
    script(src='/js/view/result-total.js')
    script(src='/js/app.js')